html  {
  background: url("../images/outerspace_landscape.jpeg") no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

nav {
	padding-left: 60px;
	padding-right: 60px;
	background-color: grey;
	height: 60px;
	font-family: Arial;
	font-size: 15px;
	position: relative;

}

nav img {
	border-radius: 50%;
	border: 1px solid black;
	left: 50px;
	position: absolute;
	margin-top: 5px;
}

nav ul  {
	display: inline-block;
	margin-left: 60px;
	margin-right: auto;
	margin-top: 20px;
}

nav li  {
	display: inline;
}



.greenbox {
	border: 10px green dotted;
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	position: relative;

}

.greenbox img:first-child{
	position: absolute;
	left: -130px;
	bottom: 200px;
}

.greenbox img:last-child{
	position: absolute;
	left: 450px;
	bottom: -150px;

}